{
	"NetType": "MainNet",
	"Configuration": {
		"Magic": 201809000,
		"SpvMagic": 7630401,
		"SeedList": [
		],
		"SpvSeedList": [
			"127.0.0.1:20866"
		],
		"MainChainFoundationAddress": "8ZNizBf4KhhPjeJRGpox6rPcHE5Np6tFx3",
		"FoundationAddress": "8NRxtbMKScEWzW8gmPDGUZ8LSzm688nkZZ",
		"ExchangeRate": 1.0,
		"MinCrossChainTxFee": 10000,
		"HttpJsonPort": 22606,
		"NodePort": 22608,
		"PrintLevel": 1,
		"PowConfiguration": {
			"PayToAddr": "ELwtPo6NMr5TZES19U5JGnXeWKHpX2edyD",
			"AutoMining": false,
			"MinerInfo": "DID-3",
			"MinTxFee": 100,
			"InstantBlock": false
		},
        "RpcConfiguration": {
         "User": "ElaUser",
         "Pass": "Ela123" ,
         "WhiteIPList":[
           "127.0.0.1"
         ]
       }
	}
}
