{
  "DisableDNS": false,
  "PermanentPeers": [
    "localhost:20618"
  ],
  "SPVDisableDNS": false,
  "SPVPermanentPeers": [
    "localhost:20338"
  ],
  "RPCUser": "User",
  "RPCPass": "Password",
  "RPCWhiteList": [
    "127.0.0.1"
  ]
}
