{
  "ActiveNet": "test",
  "DisableDNS": false,
  "PermanentPeers": [
    "localhost:21618"
  ],
  "SPVDisableDNS": false,
  "SPVPermanentPeers": [
    "localhost:21338"
  ],
  "RPCUser": "User",
  "RPCPass": "Password",
  "RPCWhiteList": [
    "127.0.0.1"
  ]
}
